src/ChilliSource.Core.Extensions.Tests/bin
src/ChilliSource.Core.Extensions.Tests/obj
src/ChilliSource.Core.Extensions/bin
src/ChilliSource.Core.Extensions/obj
build/tools
build/artifacts
**/*.userprefs